<div class="signup-farmer-bg">
	<% provide(:title, "Log inn") %>
	
	<div class="login-farmer">
	    <h1 class="center-aligned-text">Log inn</h1>
		<% if flash[:error] -%>
			</br>
	    	<h4 class="center-aligned-text"><%=h flash[:error] %></h4> 
			
		<% end -%>
		<% if flash[:notice] -%>
			</br>
	    	<h4 class="center-aligned-text"><%=h flash[:notice] %></h4> 
			
		<% end -%>
	    </br>
	<%= form_for(:session, url: sessions_path) do |f| %>

		<%= f.text_field :email, class: "form-control", :placeholder => "Epost" %>
		</br>		
		<%= f.password_field :password, class: "form-control", :placeholder => "Passord" %>
		</br>
		<%= f.submit "Log inn", class: "btn btn-large btn-primary signup-farmer-create" %>
		</br>
		<%= link_to "Registrer", signup_path, class: "btn btn-large btn-primary signup-farmer-create" %>
	<% end %>
	</div>
</div>
