<%= form_for(@sheep) do |f| %>
  <% if @sheep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheep.errors.count, "error") %> prohibited this sheep from being saved:</h2>

      <ul>
      <% @sheep.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :serial %><br>
    <%= f.number_field :serial %>
  </div>
  <div class="field">
    <%= f.label :upper_serial %><br>
    <%= f.number_field :upper_serial %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
