<%= form_for(@sheepNew) do |f| %>
  <% if @sheepNew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheepNew.errors.count, "error") %> prohibited this sheep from being saved:</h2>

      <ul>
      <% @sheepNew.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.number_field :serial, :class => 'form-control new-sheep-form', :value => "Serial" %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary new-sheep-create-button'%>
  </div>
<% end %>
