  <div class="section">
    <div class="inner">
      <div class="w-row">
        <div class="w-col w-col-4" style="padding:0px 30px;">
          <div class="w-row" style="padding-bottom:10px;">
            <div class="w-col w-col-6">
              <h1 style="margin: 0;">Sauer</h1>
            </div>
            <div class="w-col w-col-6">
            <a class="btn btn-default" style="float:right;" href="#"><span class="glyphicon-pencil" style="padding-right:10px"></span>Rediger</a>
            <a class="btn btn-default" style="float:right; margin-right:6px" href="#"><span class="glyphicon-plus" style="padding-right:10px"></span>Legg til</a>
            </div>
          </div>
          <select id="e2" style="width:100%; margin-bottom: 10px">
				<% @sheep.each do |sheep| %>
                <option value="<%= sheep.serial.to_s %>"><%= sheep.serial.to_s %></option>
				<% end %>
            </select>
          <div class="w-container sheeps"
            style="height: 400px; overflow-y: scroll; overflow-x: hidden;">
			
            <div class="list-group">
				<% @sheep.each do |sheep| %>
              <%= link_to sheep.serial.to_s + " @post 900, 800", sheep, :class => "list-group-item", :id => sheep.serial.to_s %>
			   <% end %> <!-- list-group-item active -->
			  
            </div>
          </div>
        </div>
        <div class="w-col w-col-8" style="padding:0px 30px;">
            <div class="w-embed w-script kart" id="map">
              <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
              <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
              <script>

                //Her setter man latitude og longitude
                var map = L.map('map').setView([63.6268, 11.5668], 13);

                 //Denne er for opencyclemap layout (Gir høydekvoter)
                L.tileLayer('http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png', {
                  maxZoom: 18,
                  attribution: '&copy; OpenCycleMap, ' + 'Map data '
                }).addTo(map);

                    // Lager de forskjellige markørene
                                var normalMarker = L.icon({iconUrl: 'images/marker_normal.png', iconSize: [27, 44], iconAnchor: [22, 70], popupAnchor: [-8, -68]});
                                var alertMarker = L.icon({iconUrl: 'images/marker_alert.png', iconSize: [27, 44], iconAnchor: [22, 70], popupAnchor: [-8, -68]});
                                var deathMarker = L.icon({iconUrl: 'images/marker_black.png', iconSize: [27, 44], iconAnchor: [22, 70], popupAnchor: [-8, -68]});


				var js_sheep = <%= @sheep.to_json %>;
				
				// Lager dictonary med marker til hver sau, der key = 'sau id', og value = 'marker til sauen'
                var marker = {}
				//for (var serial in js_sheep.serial) {
                for (var i = 1; i < 17; i++) {
                        marker[i] = L.marker([63.6268 - Math.random(4) / 50, 11.5668 + Math.random(4) / 50], {icon: normalMarker}).
                        //addTo(map).bindPopup("<b>Sau "+ serial +"</b><br /> er her");
                        addTo(map).bindPopup("<b>Sau "+ i +"</b><br /> er her");
                    }

                    // MERK! Disse kan tas bort, uten noen ettervirkning - Bare for å se noen rød markers
                marker[4] = L.marker([63.6258, 11.5658], {icon: alertMarker}).addTo(map).bindPopup("<b>Sau 4</b><br /> er under angrep. 34/100 HP");
                marker[6] = L.marker([63.6238, 11.5648], {icon: alertMarker}).addTo(map).bindPopup("<b>Sau 6</b><br /> er under angrep. 11/100 HP. Give potion?");
                // END MERK

                // Denne kalles på av html (koden neders), id til klikkobjektet trenger å ha samme id som 'sau id'
                function onSauClick(id) {
                        if (id in marker)
                                    marker[id].openPopup();
                }

                /*
                var popup = L.popup();

                function onMapClick(e) {
                  popup
                    .setLatLng(e.latlng)
                    .setContent("You clicked the map at " + e.latlng.toString())
                    .openOn(map);
                }


                map.on('click', onMapClick);
                */

              </script>

              <script>
                              // Denne kjører når dokumentet er ferdig lastet
                          $(document).ready(function() {
                          // Denne starter Select2 (søkerammeverket)
                    $("#e2").select2({
                          placeholder: "Select a State",
                          allowClear: true
                      }),

                    // Denne kaller på JS funksjonen i maps -> åpner markerPopup til den relevante id'en
                    $("a").bind('click', function() { onSauClick($(this).attr('id')) } ); });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>


<br>

<%= link_to 'New Sheep', new_sheep_path %>
