<% if flash[:error] or flash[:notice] -%>
	<script> var notice = true;</script>
	<% else %>
	<script> var notice = false;</script>
<% end -%>

<div class="section">
	<a onclick="toggleNewSheepBoxVisibility('newsheep')"><button class="btn btn-default new-sheep"><span class='glyphicon glyphicon-plus'/></button></a>
	<select id="e2" class="select-sts">
		<option></option>
		<% @sheep.each do |sheep| %>
			<% if sheep.id %>
          		<option value="<%= sheep.id.to_s %>"><%= sheep.serial.to_s %></option>
			<%end%>
		<% end %>
      </select>
	  <div id="newsheep" class="new-sheep-box-hidden">
	  	<a onclick="hideNewSheepBox('newsheep')"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></a>

		<%= render 'new_sheep_form_integrated' %>
		
	  </div>
</div>

<div class="section_left">
	<div id="notice" class="notice-box-hidden">
		<a id="close_notice" onclick="hideNotice()" class="notice-box-hidden"><button type="button" class="close notice-alert" data-dismiss="alert" aria-hidden="true">&times;</button></a>
		<% if flash[:error] -%>
			</br>
			<h5 class="notice-alert"><%=h flash[:error] %></h5> 
		<% end -%>
		<% if flash[:notice] -%>
			</br>
			<h5 class="notice-alert"><%=h flash[:notice] %></h5>
		<% end -%>	
	</div>
</div>

<div class="w-embed w-script kart" id="map">

  <!--
  <%#<%= javascript_tag "var sheeps = #{@sheep.to_json}" %>%>
  Now lat and long is included in the json object with keys latitude, longitude
  -->
  <%= javascript_tag "var sheeps = #{@sheep.to_json(:methods => [:latitude, :longitude])}" %>

	<script>

	
	
	function onSauClick(id) {
		document.location.href = "/sheep/" + id
		/*
		if (id in marker) {
			marker[id].openPopup();
			map.panTo(marker[id].getLatLng());
			map.setZoom(14);
		}*/
	}

	function togglePopover(id) {
		$('#_'+id+'').popover({
			placement: 'right',
			content: '<a href=sheep/'+id+' data-method="delete" class="btn btn-danger">Ja</a>'
		});
		$('#_'+id+'').popover('toggle');
	}
	
	function toggleNewSheepBoxVisibility(id) {
		document.getElementById(id).className = document.getElementById(id).className == "new-sheep-box-hidden" ? "new-sheep-box-visible thumbnail" : "new-sheep-box-hidden";
	}
	
	function hideNewSheepBox(id) {
		document.getElementById(id).className = "new-sheep-box-hidden";
	}

	function showNotice() {
		document.getElementById('notice').className = "alert alert-danger notice-box-visible";
		document.getElementById('close_notice').className = "";

	}
	
	function hideNotice() {
		document.getElementById('notice').className = "notice-box-hidden";
		document.getElementById('close_notice').className = "notice-box-hidden";
	}
	
	function initializeMap() {

        var map = L.map('map');

		var count = sheeps.length;
		if (count > 0) {
			var found_position = false;
			for (var i = 0; i < count; i++) {
				var id = sheeps[i]['id']
				if (id != null) {
					var lat = sheeps[i]['latitude'];
					var long = sheeps[i]['longitude'];
					if (lat != null && long != null) {
						map.setView([lat, long], 13);
						found_position = true
						break;
					}
				}
			}
			if (!found_position) {
				map.setView([63.6268, 11.5668], 13);
			}				
		} else {
			map.setView([63.6268, 11.5668], 13);
		}
		
		//Denne er for opencyclemap layout (Gir høydekvoter)
		L.tileLayer('http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '&copy; OpenCycleMap, ' + 'Map data '
		}).addTo(map);

		// Lager de forskjellige markørene
		var normalMarker = L.icon({iconUrl: 'assets/marker_normal2.png', iconSize: [44, 44], iconAnchor: [22, 70], popupAnchor: [0, -70]});
		var alertMarker = L.icon({iconUrl: 'assets/marker_alert2.png', iconSize: [44, 44], iconAnchor: [22, 70], popupAnchor: [0, -70]});

		// Lager dictonary med marker til hver sau, der key = 'sau id', og value = 'marker til sauen'
		var marker = {}
		//for (var serial in js_sheep.serial) {

	
			for (var i = 0; i < count; i++) {
				var id = sheeps[i]['id']
				var serial = sheeps[i]['serial']
				var attacked = sheeps[i]['attacked']
				if (id != null) {
					//marker[id] = L.marker([63.6268 - Math.random(4) / 50, 11.5668 + Math.random(4) / 50], { icon: normalMarker }).
					var lat = sheeps[i]['latitude'];
					var long = sheeps[i]['longitude'];
					if (lat != null && long != null) {
						marker[id] = L.marker([lat, long], { icon: attacked ? alertMarker : normalMarker }).
						//addTo(map).bindPopup("<b>Sau "+ serial +"</b><br /> er her");
						addTo(map).bindPopup("<b class='marker-popup-header'>Sau "+ serial +"</b> <br>" +
						"<a href='sheep/"+ id +"' style='display:inline-block; vertical-align:top;padding-right: 10px; cursor:pointer;'><span class='glyphicon glyphicon-list'></span>&nbsp;Oversikt</a><br>" +
						"<a id='_"+id+"' onclick='togglePopover("+id+")' data-original-title='Er du sikker?' data-html='true' style='display:inline-block; vertical-align:top;padding-right: 10px; cursor:pointer;'><span class='glyphicon glyphicon-remove'></span>&nbsp;Fjern</a>");
					}
				}
		}
	}
	
	// Denne kjører når dokumentet er ferdig lastet
	$(document).ready(function() {
	// Denne starter Select2 (søkerammeverket)
		$("#e2").select2({
			placeholder: "Filtrer sauer",
			allowClear: true
		});
		$("#e2").on("change", function() { onSauClick($("#e2").select2("val")) } );
		$("#e2").on("select2-open", function() { hideNewSheepBox("newsheep"), hideNotice() } );
		
		if (notice) {
			showNotice()
		}
		
		
		//Her setter man latitude og longitude
		window.setTimeout(initMap, 100); 

		function initMap(){
		         //this should check if your leaflet is available or wait if not. 
		         if(typeof L === "undefined"){
		                window.setTimeout(initMap, 100);
		                return;
		         }
				 initializeMap();
		};
		
		
	});
	</script>
</div>