<% if signed_in? %>
<div class="section">
	<a onclick="toggleNewSheepBoxVisibility('newsheep')"><button class="btn btn-default new-sheep"><span class='glyphicon glyphicon-plus'/></button></a>
	<select id="e2" class="select-sts">
		<option></option>
		<% @sheep.each do |sheep| %>
			<% if sheep.id %>
          		<option value="<%= sheep.id.to_s %>"><%= sheep.serial.to_s %></option>
			<%end%>
		<% end %>
      </select>
	  <div id="newsheep" class="new-sheep-box-hidden">
	  	<a onclick="hideNewSheepBox('newsheep')"><button type='button' class='close new-sheep-close-button'>x</button></a>
		<% if flash[:error] -%>
			</br>
			<h4><%=h flash[:error] %></h4> 
	
		<% end -%>
		<% if flash[:notice] -%>
			</br>
			<h4><%=h flash[:notice] %></h4> 
	
		<% end -%>
		<%= render 'new_sheep_form_integrated' %>

		<!--<form role="create_sheep">
    		<input type="number" class="form-control new-sheep-form" placeholder="Fra">
    		<input type="number" class="form-control new-sheep-form" placeholder="Antall">
			<button type="submit" class="btn btn-primary new-sheep-create-button">Generer</button>
		</form> -->
	  </div>
</div>
<div class="w-embed w-script kart" id="map">

  <!--
  <%#<%= javascript_tag "var sheeps = #{@sheep.to_json}" %>%>
  Now lat and long is included in the json object with keys latitude, longitude
  -->
  <%= javascript_tag "var sheeps = #{@sheep.to_json(:methods => [:latitude, :longitude])}" %>

	<script>

	
	
	function onSauClick(id) {
		document.location.href = "/sheep/" + id
		/*
		if (id in marker) {
			marker[id].openPopup();
			map.panTo(marker[id].getLatLng());
			map.setZoom(14);
		}*/
	}

	function togglePopover(id) {
		$('#_'+id+'').popover({
			placement: 'right',
			content: '<a href=sheep/'+id+' data-method="delete" class="btn btn-danger">Ja</a>'
		});
		$('#_'+id+'').popover('toggle');
	}
	
	function toggleNewSheepBoxVisibility(id) {
			document.getElementById(id).className = document.getElementById(id).className == "new-sheep-box-hidden" ? "new-sheep-box-visible thumbnail" : "new-sheep-box-hidden";
	}
	
	function hideNewSheepBox(id) {
			document.getElementById(id).className = "new-sheep-box-hidden";
	}
	
	// Denne kjører når dokumentet er ferdig lastet
	$(document).ready(function() {
	// Denne starter Select2 (søkerammeverket)
		$("#e2").select2({
			placeholder: "Filtrer sauer",
			allowClear: true
		});
		$("#e2").on("change", function() { onSauClick($("#e2").select2("val")) } );
		$("#e2").on("select2-open", function() { hideNewSheepBox("newsheep") } );
		
		//Her setter man latitude og longitude
		var map = L.map('map').setView([63.6268, 11.5668], 13);

		//Denne er for opencyclemap layout (Gir høydekvoter)
		L.tileLayer('http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '&copy; OpenCycleMap, ' + 'Map data '
		}).addTo(map);

		// Lager de forskjellige markørene
		var normalMarker = L.icon({iconUrl: 'assets/marker_normal.png', iconSize: [27, 44], iconAnchor: [22, 70], popupAnchor: [-8, -68]});
		var alertMarker = L.icon({iconUrl: 'assets/marker_alert.png', iconSize: [27, 44], iconAnchor: [22, 70], popupAnchor: [-8, -68]});
		var deathMarker = L.icon({iconUrl: 'assets/marker_black.png', iconSize: [27, 44], iconAnchor: [22, 70], popupAnchor: [-8, -68]});

		// Lager dictonary med marker til hver sau, der key = 'sau id', og value = 'marker til sauen'
		var marker = {}
		//for (var serial in js_sheep.serial) {

		var count = sheeps.length;
	
			for (var i = 0; i < count; i++) {
				var id = sheeps[i]['id']
				var serial = sheeps[i]['serial']
				if (id != null) {
					//marker[id] = L.marker([63.6268 - Math.random(4) / 50, 11.5668 + Math.random(4) / 50], { icon: normalMarker }).
					var lat = sheeps[i]['latitude'];
					var long = sheeps[i]['longitude'];
					if (lat != null && long != null) {
						marker[id] = L.marker([lat, long], { icon: normalMarker }).
						//addTo(map).bindPopup("<b>Sau "+ serial +"</b><br /> er her");
						addTo(map).bindPopup("<b class='marker-popup-header'>Sau "+ serial +"</b> <br>" +
						"<a href='sheep/"+ id +"' style='display:inline-block; vertical-align:top;padding-right: 10px; cursor:pointer;'><span class='glyphicon glyphicon-list'></span>&nbsp;Oversikt</a><br>" +
						"<a id='_"+id+"' onclick='togglePopover("+id+")' data-original-title='Er du sikker?' data-html='true' style='display:inline-block; vertical-align:top;padding-right: 10px; cursor:pointer;'><span class='glyphicon glyphicon-remove'></span>&nbsp;Fjern</a>");
					}
				}
		}
	});
	</script>
</div>

<% else %>

<img class="sad-face" src="assets/sad_face.png"/>
<h1 class="sad-face-text">Du er ikke logget inn</h1>

<% end %>
