<p id="notice"><%= notice %></p>

<h3>Sheep # <%=@sheep.serial_num %></h3>
<%= link_to 'Add medical entry', new_medical_path %> |
<%= link_to 'Edit serial number', edit_sheep_path(@sheep) %> |
<%= link_to 'Back to sheep overview', sheep_index_path %>
<% if @sheep.medicals.count > 0 %>
  <h3>Medical History: <%= @sheep.medicals.count %> entries</h3>
<% else %>
  <h3>No medical history registered on this sheep</h3>
<% end %>
<table>
  <% @sheep.medicals.each do |m| %>
    <tr>
      <td><b><%= m.timestamp %></b></td>
      <% if m.weight %>
        <td><%= "Weight: #{m.weight} kg" %></td>
      <% end %>
    </tr>
    <tr><td><%= m.notes %></td></tr>
    <tr><td><%= link_to 'Remove this entry', m, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
  <% end %>

</table>



