<div class="index-container">
	<h1>Sau #<%=@sheep.serial_num %><%= link_to 'Rediger', edit_sheep_path(@sheep), class: "btn btn-large btn-default button_header" %> <%= link_to 'Tilbake', sheep_index_path, class: "btn btn-large btn-primary" %></h1>
	<% if flash[:error] -%>
		</br>
		<h4><%=h flash[:error] %></h4> 
	
	<% end -%>
	<% if flash[:notice] -%>
		</br>
		<h4><%=h flash[:notice] %></h4> 
	<% end -%>
	</br>
	
	<div class="row">
	  <aside class="col-md-4">
	    <h3>Legg til helseoppføring</h3>
	    <section>
	      <%= render 'medicals/form' %>
	    </section>
	  </aside>
	  <aside class="col-md-4">
	    <h3>Helse historikk</h3>
	    <%= render 'medicals/medical_history' %>
	  </aside>
	  <div class="col-md-4">
	    <h3>Posisjoner</h3>
	    <section>
			<%= render 'positions/position_history' %>
	    </section>
	  </div>
	</div>
</div>

