<!DOCTYPE html>
<!-- template for the alert mail -->
<!-- @farmer, @sheep, etc are member of and set up by FarmerMailer, app/mailers/farmermailer.rb -->
<html>
  <head>
    <meta content='text/html; charset=UTF-8'
    http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @farmer.name %>, your sheep is under attack!</h1>
    <p>
      Your sheep # <%= @sheep.serial %> is under attack.
      To view the position in Sheep Tracking System, you
      must be the owner of said sheep. If you are the backup
      you may view it in google maps.
    </p>
    <a href="<%= @url %>/sheep">Location in Wolfbane</a>
    <a href="https://maps.google.com/maps?q=<%= @sheep.latitude %>,<%= @sheep.longitude %>">Location in Google Maps</a>
  </body>
</html>
