<%= form_for(@medical) do |f| %>
  <% if @medical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical.errors.count, "error") %> prohibited this medical from being saved:</h2>

      <ul>
      <% @medical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :sheep_id, :value => @medical.sheep_id %>

  <div class="field">
	  <%= f.label 'Dato' %><br>
    <%= f.datetime_select :datetime %>
  </div>
  <div class="field">
    <%= f.number_field :weight, :class=> "form-control", placeholder: "Vekt"  %>
  </div>
  <div class="field">
    <%= f.text_area :notes, :class=> "form-control", placeholder: "Notater" %>
  </div>
  <div class="actions">
    <%= f.submit "Add entry", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
