<li id="<%= medical.id %>">
  <div><%= medical.timestamp %><%= link_to '', medical, :class => "glyphicon glyphicon-trash medical_delete" ,method: :delete, data: { confirm: "Er du sikker?" }, title: medical.notes %></div>
  <i><%= "Vekt: #{medical.weight} kg" if medical.weight %></i>
  <% if medical.notes %>
  <br>
  <% end %>
  <b><span class="content line_break"><%= medical.notes %></span></b>
  <br>
  <br>
</li>
