<h1>Listing farmers</h1>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Backup</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @farmers.each do |farmer| %>
      <tr>
        <td><%= link_to farmer.name, farmer %></td>
        <td><%= farmer.email %></td>
        <td><%= farmer.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate %>
