<h1>Listing farmers</h1>

<table border=1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Backup</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @farmers.each do |farmer| %>
      <tr>
        <td><%= link_to farmer.name, farmer %></td>
        <td><%= farmer.email %></td>
        <td><%= farmer.phone %></td>
        <td><%= if farmer.backup; link_to farmer.backup, Farmer.find_by_email(farmer.backup) end %></td>
        <td><%= link_to 'Show', farmer %></td>
        <td><%= link_to 'Edit', edit_farmer_path(farmer) %></td>
        <td><%= link_to 'Destroy', farmer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farmer', new_farmer_path %>
