<% provide(:title, "Bønder") %>
<div class="index-container">
	<h1>Bønder</h1>
	<% if flash[:error] -%>
		</br>
		<h4><%=h flash[:error] %></h4> 
	
	<% end -%>
	<% if flash[:notice] -%>
		</br>
		<h4><%=h flash[:notice] %></h4> 
	
	<% end -%>
	</br>


	<%= will_paginate %>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Email</th>
	      <th>Phone</th>
	      <th>Backup</th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @farmers.each do |farmer| %>
	      <tr>
	        <td><%= link_to farmer.name, farmer %></td>
	        <td><%= farmer.email %></td>
	        <td><%= farmer.phone %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<%= will_paginate %>