<div class="signup-farmer-bg">
	<% provide(:title, 'Registrer') %>

	<div class="signup-farmer">
		
	    <h1 class="center-aligned-text">Registrer</h1>
	    </br>
	<%= form_for(@farmer) do |f| %>

	  <%= f.text_field :name, class: "form-control", :placeholder => "Navn" %>
		</br>
	  <%= f.text_field :phone, class: "form-control", :placeholder => "Telefon" %>
		</br>
	  <%= f.text_field :email, class: "form-control", :placeholder => "Epost" %>
		</br>
	  <%= f.text_field :backup, class: "form-control", :placeholder => "Avløser" %>
		</br>
	  <%= f.password_field :password, class: "form-control", :placeholder => "Passord" %>
		</br>
	  <%= f.password_field :password_confirmation, class: "form-control", :placeholder => "Bekreft passord" %>
		</br>
	  <%= f.submit "Registrer meg", class: "btn btn-large btn-primary signup-farmer-create" %>
	<% end %>
	</div>
</div>

