<% provide(:title, "Bonde") %>
<div class="index-container">
	<h1><%= @farmer.name %><%= link_to "Rediger", edit_farmer_path(@farmer), class: "btn btn-large btn-default button_header" %></h1>
	<% if flash[:error] -%>
		</br>
		<h4><%=h flash[:error] %></h4> 
	
	<% end -%>
	<% if flash[:notice] -%>
		</br>
		<h4><%=h flash[:notice] %></h4> 
	
	<% end -%>
	</br>

	<p>
	  <strong>Registrerte sauer:</strong>
	  <%= @farmer.sheep.size %>
	</p>
	<p>
	  <strong>Epost:</strong>
	  <%= @farmer.email %>
	</p>

	<p>
	  <strong>Telefon nummer:</strong>
	  <%= @farmer.phone %>
	</p>

	<p>
	  <strong>Avløser:</strong>
	  <% if @farmer.backup %>
      <% bkup = Farmer.find_by_email @farmer.backup %>
      <%= link_to bkup.name, bkup %>
	  <% end %>
	</p>

	</br>
	<%= link_to "Se mine Sauer", sheep_index_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Se andre Bønder", farmers_path, class: "btn btn-large btn-primary" %>
</div>

