<!DOCTYPE html>
<html>
<head>
  <title>Wolfbane</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	 <!--[if lte IE 8]>
	     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	 <![endif]-->
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
      <meta charset="utf-8">
    <title>SheepTrackingSystem</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/webflow.css">
    <link rel="stylesheet" type="text/css" href="css/sheeptrackingsystem.webflow.css">
    <link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51e088cb308929c46c000051/thumbnail-starter.png">
    <script type="text/javascript" src="js/webflow.js" defer></script>

</head>
<body>
  <%= render 'layouts/header' %>
  <%#<div class="container"%>
    <% flash.each do |k,v| %>
      <div class="alert alert-<%= k %>"><%= v %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
